$color-light-background: #f2f2f2;
$color-light-card: #fdfefa;
$color-light-accentuated: #19252F;
$color-light-text: #000000;

$color-green-text: #00B050;

$color-dark-background: #19252F;
$color-dark-card: #444f6d;
$color-dark-accentuated: #19252F;
$color-dark-text: #edf1fc